@use "sass:color";

.item {
  padding: 0.9rem 0;
  position: relative;
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


  .item-icon {
    background: color.adjust(#D12754, $alpha: -0.8);
    border-radius: 1rem;
    height: 3.5rem;
    width: 3.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.6rem;
  }

  .item-description {
    font-weight: bold;
    padding-bottom: 0.2rem;
  }

  .item-main {
    padding-left: 1rem;
    flex: 1;
  }

  .item-price {
    color: #3B3B3B;
    opacity: 0.3;
    font-size: 0.9rem;
  }

  .item-total {
    padding-top: 0.2rem;
  }

  .item-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 0.2rem;

    div {
      margin-left: 0.5rem;
    }

    button {
      margin-left: 0.5rem;
      font-size: 1.1rem;
      cursor: pointer;
      border-radius: 0.4rem;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 150ms ease-in-out;
    }

    :hover {
      transform: scale3d(1.25, 1.25, 1);
    }

    .item-remove-button {
      color: #161616;
      background: color.adjust(#161616, $alpha: -0.9);
    }

    .item-add-button {
      color: #fff;
      background: #161616;
    }
  }
}
