@use "sass:color";

@font-face {
  font-family: "Rubik";
  src: url("~@/assets/fonts/Rubik.ttf") format("truetype");
}

html, body, #app {
  margin: 0;
  height: 100vh;

  font-family: Rubik, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #181818;
  letter-spacing: 0.03rem;
}

button {
  border: none;
}

#app {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3rem);
  padding: 1.5rem;
}

.main {
  flex: 1;
  overflow: auto;
  margin-top: 1rem;
  padding-bottom: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.heading-primary {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.heading-secondary {
  margin-top: 0.5rem;
  text-align: center;
  opacity: 0.5;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;


  .header-left-button {
    position: relative;

    button {
      border-radius: 0.6rem;
      width: 2.5rem;
      height: 2.5rem;
      align-items: center;
      justify-content: center;
      display: flex;
      color: #fff;
      background: #d12754;

      &.secondary {
        background: color.adjust(#161616, $alpha: -0.95);
      }
    }
  }

  .header-right {
    flex: 1;
    text-align: end;
  }

  .header-right-title {
    font-size: 1.4rem;
    opacity: 0.3;
    font-weight: bold;
    flex: 1;
    text-align: end;
  }
}

.bottom {
  width: 100%;
  position: relative;

  .bottom-divider {
    position: absolute;
    height: 40px;
    top: -40px;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 90%, #fff);
    border-bottom: 1px dashed color.adjust(#181818, $alpha: -0.8);
    margin: 0 0 1rem 0;
  }

  .bottom-summary {
    position: relative;
    font-weight: bold;
    margin: 1rem 0;

    .bottom-summary-right {
      position: absolute;
      top: 0;
      right: 0;
      color: #161616;
      opacity: 0.5;
    }
  }
}

.full-width-button {
  cursor: pointer;
  background: #161616;
  color: #fff;
  padding: 0.8rem;
  border-radius: 1rem;
  font-weight: bold;
  width: 100%;

  &:disabled {
    opacity: 0.5;
  }

  &.secondary {
    background: color.adjust(#161616, $alpha: -0.3);
  }

  &.cancel {
    color: #161616;
    background: #fff;
  }
}
